@using System
@using una_CIS_ng.Core

@{
  ViewData["Title"] = "Permit - Right-of-Way";
  var mapKey = ViewData["GoogleAPIBrowserKey"];
  var mapInitUrl = "https://maps.googleapis.com/maps/api/js?key=" + mapKey + "&libraries=drawing,geometry,places&callback=initMap";
}

<div class="container bs-docs-container" ng-controller="permitController">
  <div class="row">
    <div class="col-md-9 col-lg-10" role="main">
      <form name="PermitApplication" class="form-horizontal" role="form" ng-submit="permit.Save()">
        <div class="bs-docs-section">
          <h1 id="PermitApplication" class="page-header">
            <a class="anchorjs-link" href="#PermitApplication" aria-label="Anchor link for: permit application">Permit Application</a>
          </h1>
        </div>
        <div class="bs-docs-section" ng-hide="permit.permits.row.isPreview">
          <h2 id="PermitApplicationInstructions">
            <a class="anchorjs-link" href="#PermitApplicationInstructions" aria-label="Anchor link for: permit application instructions">Instructions</a>
          </h2>
          <p>To declare your existing or planned infrastructure, and obtain a Permit for it, several things are required:</p>
          <ul>
            <li>The <a href="#PermitApplicationParties">{{permit.permits.row.parties.find(party.findHolder).typeDesc}}</a> must be identified. Other people and organisations may need to be identified also.</li>
            <li>The <a href="#PermitApplicationLocation">location / route of your infrastructure</a> must be clearly identified.</li>
            <li>The <a href="#PermitApplicationInfState">current state of your infrastructure</a> must be declared.</li>
            <li>The Permit Application must be submitted by clicking the submit button below.</li>
            <li>The relevant fees, charges and penalties must be paid.</li>
          </ul>
          <div class="bs-callout-sm bs-callout-info">
            <small>You cannot mix different infrastructure states (Planned, Existing, Decommissioning) on the same Permit Application.<br />Make multiple Permit Applications instead.</small>
          </div>
          <div class="bs-callout-sm bs-callout-info">
            <small>If you are putting in new infrastructure then a Construction Permit is also required.<br />This form will calculate the fee for you, but the Construction Permit itself is not available electronically at present.</small>
          </div>
          <div class="bs-callout-sm bs-callout-success">
            <small>Note that the information you provide through this form is not 'private' for the purposes of the @Constants.UnaFullTitle. <br />However, your contact details are defined as 'protected' information and their disclosure is strictly controlled.</small>
          </div>
          <div class="bs-callout-sm bs-callout-warning">
            <small>Some other agencies may require you to obtain relevant permits / authorisation also - @Constants.LasimraAbbr and its authorised agencies are not responsible for this.</small>
          </div>
          <p>
            Please see <a href="./PermitInfo">Permit Info</a> for more information about obtaining Permits and keeping them.
          </p>
        </div>
        <div class="bs-docs-section" ng-hide="permit.permits.row.isPreview">
          <h2 id="PermitApplicationParties">
            <a class="anchorjs-link" href="#PermitApplicationParties" aria-label="Anchor link for: permit application parties">Parties to the Permit</a>
          </h2>
          <div class="well well-sm">
            <h3 id="PermitHolderDeclaration">{{permit.permits.row.parties.find(party.findHolder).typeDesc}}</h3>
            <div id="PermitApplicationHolder" class="form-group row">
              <label class="col-xs-5 col-sm-4 col-md-4 col-lg-3 text-right">The {{permit.permits.row.parties.find(party.findHolder).typeDesc}} is also the {{permit.permits.row.parties.find(party.findInfOwner).typeDesc}}:</label>
              <div class="col-xs-6 col-sm-5">
                <div class="btn-group btn-group-justified" role="group" aria-label="{{permit.permits.row.parties.find(party.findHolder).typeDesc + ' Entity is ' + permit.permits.row.parties.find(party.findInfOwner).typeDesc}}">
                  <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.parties.find(party.findHolder).isInfrastructureOwner}">
                    <input type="radio" name="rowHoldingEntityIsInfrastructureOwner" ng-model="permit.permits.row.parties.find(party.findHolder).isInfrastructureOwner" ng-change="permit.setInfOwnerRequired()" ng-value="true" autocomplete="off" checked ng-required="true"> Yes
                  </label>
                  <label class="btn btn-radio btn-primary" ng-class="{'active': !permit.permits.row.parties.find(party.findHolder).isInfrastructureOwner}">
                    <input type="radio" name="rowHoldingEntityIsInfrastructureOwner" ng-model="permit.permits.row.parties.find(party.findHolder).isInfrastructureOwner" ng-change="permit.setInfOwnerRequired()" ng-value="false" autocomplete="off" ng-required="true"> No
                  </label>
                </div>
              </div>
            </div>
            <una-party party="permit.permits.row.parties.find(party.findHolder)"></una-party>
            <div class="well well-sm animate-show" ng-show="!!permit.permits.row.parties.find(party.findHolder).entityType">
              <una-address addr="permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPhysical)"></una-address>
            </div>
            <div class="well well-sm animate-show" ng-show="!!permit.permits.row.parties.find(party.findHolder).entityType">
              <div class="animate-show" ng-show="permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPhysical).isMailing">
                <h4>Office Postal Address</h4>
                <dl class="dl-horizontal">
                  <dt>Office Postal Address:</dt>
                  <dd>Use the Office Physical Address</dd>
                </dl>
              </div>
              <div class="animate-show" ng-show="!permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPhysical).isMailing">
                <una-address addr="permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPostal)"></una-address>
              </div>
            </div>
          </div>
          <div id="PermitApplicationHolderContact" class="well well-sm animate-show" ng-show="!!permit.permits.row.parties.find(party.findHolder).entityType">
            <h3 id="RoWPermitHolderContact">{{permit.permits.row.parties.find(party.findHolderContact).typeDesc}}</h3>
            <small>A {{permit.permits.row.parties.find(party.findHolderContact).typeDesc}} is required if the {{permit.permits.row.parties.find(party.findHolder).typeDesc}} is an Organisation or the {{permit.permits.row.parties.find(party.findHolder).typeDesc}} is not based in Nigeria.</small>
            <div class="animate-show" ng-show="permit.permits.row.parties.find(party.findHolder).entityType === 'Person' && permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPhysical).country === 'Nigeria'">
              <dl class="dl-horizontal">
                <dt>{{permit.permits.row.parties.find(party.findHolderContact).typeDesc}}:</dt>
                <dd>Will be the {{permit.permits.row.parties.find(party.findHolder).typeDesc}}</dd>
              </dl>
            </div>
            <div class="animate-show" ng-show="permit.permits.row.parties.find(party.findHolder).entityType !== 'Person' || permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPhysical).country !== 'Nigeria'">
              <small>The {{permit.permits.row.parties.find(party.findHolderContact).typeDesc}} must be an individual, based in Nigeria, who is contactable by electronic means, especially via email and txt message (sms).</small><br />
              <una-party party="permit.permits.row.parties.find(party.findHolderContact)"></una-party>
              <una-address addr="permit.permits.row.parties.find(party.findHolderContact).addresses.find(address.findPostal)"></una-address>
            </div>
          </div>
          <div id="PermitApplicationInfOwner" class="well well-sm animate-show" ng-show="!!permit.permits.row.parties.find(party.findHolder).entityType">
            <h3 id="RoWPermitInfOwner">{{permit.permits.row.parties.find(party.findInfOwner).typeDesc}}</h3>
            <div class="animate-show" ng-show="!permit.permits.row.parties.find(party.findInfOwner).isRequired">
              <dl class="dl-horizontal">
                <dt>{{permit.permits.row.parties.find(party.findInfOwner).typeDesc}}:</dt>
                <dd>Will be the {{permit.permits.row.parties.find(party.findHolder).typeDesc}}</dd>
              </dl>
            </div>
            <div class="animate-show" ng-show="permit.permits.row.parties.find(party.findInfOwner).isRequired">
              <una-party party="permit.permits.row.parties.find(party.findInfOwner)"></una-party>
              <una-address addr="permit.permits.row.parties.find(party.findInfOwner).addresses.find(address.findPostal)"></una-address>
            </div>
          </div>
        </div>
        <div class="bs-docs-section animate-show" ng-show="permit.permits.row.isPreview && !!permit.permits.row.parties.find(party.findHolder).entityType">
          <div class="well well-sm">
            <h4>{{permit.permits.row.parties.find(party.findHolder).typeDesc + " " + (permit.permits.row.parties.find(party.findHolder).isInfrastructureOwner ? (" and " + permit.permits.row.parties.find(party.findInfOwner).typeDesc) : "")}}</h4>
            <una-party-ro party="permit.permits.row.parties.find(party.findHolder)"></una-party-ro>
            <div class="well well-sm animate-show" ng-show="permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPhysical).suburb">
              <h4>Office Physical {{permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPhysical).isMailing ? "and Mailing" : ""}} Address</h4>
              <una-address-ro addr="permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPhysical)"></una-address-ro>
            </div>
            <div class="well well-sm animate-show" ng-show="!permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPhysical).isMailing && permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPostal).suburb">
              <h4>Office Mailing Address</h4>
              <una-address-ro addr="permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPostal)"></una-address-ro>
            </div>
          </div>
          <div class="well well-sm animate-show" ng-show="permit.permits.row.parties.find(party.findHolder).entityType !== 'Person' || permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPhysical).country !== 'Nigeria'">
            <h4>{{permit.permits.row.parties.find(party.findHolderContact).typeDesc}}</h4>
            <una-party-ro party="permit.permits.row.parties.find(party.findHolderContact)"></una-party-ro>
            <div class="well well-sm animate-show" ng-show="!!permit.permits.row.parties.find(party.findHolderContact).addresses.find(address.findPhysical).suburb">
              <h4>Office Physical Address {{permit.permits.row.parties.find(party.findHolderContact).addresses.find(address.findPhysical).isMailing ? "and Office Mailing Address" : ""}}</h4>
              <una-address-ro addr="permit.permits.row.parties.find(party.findHolderContact).addresses.find(address.findPhysical)"></una-address-ro>
            </div>
            <div class="well well-sm animate-show" ng-show="!permit.permits.row.parties.find(party.findHolderContact).addresses.find(address.findPhysical).isMailing && !!permit.permits.row.parties.find(party.findHolderContact).addresses.find(address.findPostal).suburb">
              <h4>Office Mailing Address</h4>
              <una-address-ro addr="permit.permits.row.parties.find(party.findHolderContact).addresses.find(address.findPostal)"></una-address-ro>
            </div>
          </div>
          <div class="well well-sm animate-show" ng-show="!permit.permits.row.parties.find(party.findHolder).isInfrastructureOwner">
            <h4>{{permit.permits.row.parties.find(party.findInfOwner).typeDesc}}</h4>
            <una-party-ro party="permit.permits.row.parties.find(party.findInfOwner)"></una-party-ro>
            <div class="well well-sm animate-show" ng-show="!!permit.permits.row.parties.find(party.findInfOwner).addresses.find(address.findPhysical).suburb">
              <h4>Office Physical Address {{permit.permits.row.parties.find(party.findInfOwner).addresses.find(address.findPhysical).isMailing ? "and Office Mailing Address" : ""}}</h4>
              <una-address-ro addr="permit.permits.row.parties.find(party.findInfOwner).addresses.find(address.findPhysical)"></una-address-ro>
            </div>
            <div class="well well-sm animate-show" ng-show="!permit.permits.row.parties.find(party.findInfOwner).addresses.find(address.findPhysical).isMailing && !!permit.permits.row.parties.find(party.findInfOwner).addresses.find(address.findPostal).suburb">
              <h4>Office Mailing Address</h4>
              <una-address-ro addr="permit.permits.row.parties.find(party.findInfOwner).addresses.find(address.findPostal)"></una-address-ro>
            </div>
          </div>
        </div>
        <div class="bs-docs-section">
          <h2 id="PermitApplicationLocation">
            <a class="anchorjs-link" href="#PermitApplicationLocation" aria-label="Anchor link for: permit application location">Location / Route of Infrastructure</a>
          </h2>
          <div class="form-group row" ng-hide="permit.permits.row.isPreview">
            <div class="cols-xs-12 col-sm-9 col-lg-6">
              <p>
                Drawing on the map, show the route required for this Right-of-Way permit.<br />
                The GPS coordinates, and total distance in meters (rounded down to the nearest meter) will be calculated for you.<br />
                If the route is non-contiguous (has breaks or gaps) then you will be issued with individual Right-of-Way Permits for each section.<br />
                If you make a mistake then you will need to reset the map to erase all of the routes and start again.
              </p>
            </div>
            <div class="cols-xs-12 col-sm-9 col-lg-6">
              <p>If you have a lot of infrastructure, or it covers a large area, then you can do multiple submissions as follows:</p>
              <ol>
                <li>Enter all of the required contact information above</li>
                <li>Draw a section of your infrastructure below</li>
                <li>Declare the state of your infrastructure</li>
                <li>"Preview" and then "Submit" your application (all the information you have entered will still remain on screen)</li>
                <li>Click the "Reset Map" button to clear the map data (your newly submitted infrastructure will show up)</li>
                <li>Draw the next section of your infrastructure and continue with step 3 above.</li>
              </ol>
            </div>
          </div>
        </div>
        <div id="PermitApplicationMap" ng-controller="geoDataController">
          <div class="row">
            <div class="col-xs-12 afterMap">
              <div id="map" class="center-block" ng-class="{'isPreview': permit.permits.row.isPreview}" showdrawingcontrols permit></div>
              <input id="pac-input" type="text" name="pac-input" placeholder="Search Box" class="controls center-block" />
            </div>
          </div>
          <div class="row" ng-hide="permit.permits.row.isPreview">
            <div class="col-xs-2 col-xs-offset-1 col-sm-offset-2 text-right">Zoom to<br />infrastructure:</div>
            <div class="col-xs-2" title="Zoom the map to fit your infrastructure"><input class="btn" id="FitMap" type="button" value="Fit Map" ng-click="geoData.FitMap()" /></div>
            <div class="col-xs-2 text-right">Clear<br />Map Data:</div>
            <div class="col-xs-2" title="Clear all of the infrastructure data you've drawn"><input class="btn" id="ResetMap" type="button" value="Reset Map" ng-click="geoData.ResetMap(true)" /></div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h3 id="PermitApplicationLocationCalculation">Location Details</h3>
            </div>
          </div>
          <div class="row animate-show" ng-show="!!permit.permits.row.locationRoutes && permit.permits.row.locationRoutes.length > 0">
            <div class="col-xs-5">
              <div ng-repeat="locationRoute in permit.permits.row.locationRoutes">
                <strong>Route of Your Infrastructure</strong>
                <ul ng-repeat="lonLat in locationRoute">
                  <li>{{"Lon:" + lonLat[0].toFixed(7) + " Lat:" + lonLat[1].toFixed(7)}}</li>
                </ul>
              </div>
            </div>
            <div class="col-xs-7">
              <div ng-repeat="locationDescs in permit.permits.row.locationDescriptions">
                <strong>Location of Your Infrastructure</strong>
                <ul ng-repeat="locDesc in locationDescs track by $index">
                  <li>{{locDesc}}</li>
                </ul>
              </div>
            </div>
            <!-- This hidden field is present to force recalculation of the various fees below -->
            <pre id="location" ng-show="false">{{permit.permits.row | json}}</pre>
          </div>
        </div>
        <div class="bs-docs-section">
          <h2 id="PermitApplicationInfState">
            <a class="anchorjs-link" href="#PermitApplicationInfState" aria-label="Anchor link for: permit application infrastructure state">Infrastructure State</a>
          </h2>
          <div class="form-group row">
            <label class="col-xs-5 col-sm-4 col-lg-3 text-right">Infrastructure state:</label>
            <div class="col-xs-7 col-sm-6" ng-hide="permit.permits.row.isPreview">
              <div class="btn-group btn-group-justified" role="group" aria-label="Infrastructure State">
                <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.infState == 'Planned'}">
                  <input type="radio" name="infState" ng-model="permit.permits.row.infState" value="Planned" autocomplete="off" ng-required="true"> Planned
                </label>
                <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.infState == 'Existing'}">
                  <input type="radio" name="infState" ng-model="permit.permits.row.infState" value="Existing" autocomplete="off" ng-required="true"> Existing
                </label>
                <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.infState == 'Decommissioning'}">
                  <input type="radio" name="infState" ng-model="permit.permits.row.infState" value="Decommissioning" autocomplete="off" ng-required="true"> Decommissioning
                </label>
              </div>
            </div>
            <div class="col-xs-7 col-sm-8 col-lg-9" ng-hide="!permit.permits.row.isPreview">
              <span>{{permit.permits.row.infState}}</span>
            </div>
          </div>
          <div class="form-group row animate-show" ng-show="permit.permits.row.infState == 'Planned'">
            <label class="col-xs-5 col-sm-4 col-lg-3 text-right">Construction Permits:</label>
            <div class="col-xs-7 col-sm-6" ng-hide="permit.permits.row.isPreview">
              <div class="input-group">
                <input name="consPermits" id="consPermits" ng-model="permit.permits.row.consPermits" type="number" />
              </div>
            </div>
            <div class="col-xs-7 col-sm-8 col-lg-9" ng-hide="!permit.permits.row.isPreview">
              <span>{{permit.permits.row.consPermits}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-5 col-sm-4 col-lg-3 text-right">Location Includes:</label>
            <div class="col-xs-7 col-sm-6" ng-hide="permit.permits.row.isPreview">
              <div class="btn-group btn-group-justified" role="group" aria-label="Infrastructure Location">
                <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.infLoc === 'Business'}">
                  <input type="radio" name="infLoc" ng-model="permit.permits.row.infLoc" value="Business" autocomplete="off" ng-required="true"> Business <br />District
                </label>
                <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.infLoc === 'HighDensity'}">
                  <input type="radio" name="infLoc" ng-model="permit.permits.row.infLoc" value="HighDensity" autocomplete="off" ng-required="true"> High Density <br />Zone
                </label>
                <label class="btn btn-radio btn-primary" ng-class="{'active': !permit.permits.row.infLoc === 'Other'}">
                  <input type="radio" name="infLoc" ng-model="permit.permits.row.infLoc" value="Other" autocomplete="off" ng-required="true"> No Business or <br /> High Density
                </label>
              </div>
            </div>
            <div class="col-xs-7 col-sm-8 col-lg-9" ng-hide="!permit.permits.row.isPreview">
              <span>{{permit.permits.row.infLoc === "Business" ? "Business District" : permit.permits.row.infLoc === "HighDensity" ? "High Density Zone" : "No Business or High Density"}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-5 col-sm-4 col-lg-3 text-right">Construction Method:</label>
            <div class="col-xs-7 col-sm-6" ng-hide="permit.permits.row.isPreview">
              <div class="btn-group btn-group-justified" role="group" aria-label="Infrastructure Type">
                <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.consType == 'Trenching'}">
                  <input type="radio" name="consType" ng-model="permit.permits.row.consType" value="Trenching" autocomplete="off" ng-required="true"> Trenching
                </label>
                <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.consType == 'HorizontalDrilling'}">
                  <input type="radio" name="consType" ng-model="permit.permits.row.consType" value="HorizontalDrilling" autocomplete="off" ng-required="true"> Horizontal Drilling
                </label>
              </div>
            </div>
            <div class="col-xs-7 col-sm-8 col-lg-9" ng-hide="!permit.permits.row.isPreview">
              <span>{{permit.permits.row.consType == 'Trenching' ? "Trenching" : "Horizontal Drilling"}}</span>
            </div>
          </div>
        </div>
        <div class="bs-docs-section animate-show" ng-show="!!permit.permits.row.locationRoutes && permit.permits.row.locationRoutes.length > 0">
          <h2 id="PermitApplicationFeeEstimation">
            <a class="anchorjs-link" href="#PermitApplicationFeeEstimation" aria-label="Anchor link for: permit application fee estimation">Permit Application Fees</a>
          </h2>
          <div>
            <p ng-hide="permit.permits.row.isPreview">Note that the fees will be recalculated on the server.</p>
            <p>Assuming that you have made a full and valid declaration for your infrastructure the fees and penalties shown will be correct.</p>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover">
              <thead>
                <tr>
                  <th class="col-xs-6">Item</th>
                  <th class="col-xs-1 text-right">Unit</th>
                  <th class="col-xs-1 text-right">Rate</th>
                  <th class="col-xs-2">&nbsp;</th>
                  <th class="col-xs-2 text-right">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr class="animate-show" ng-repeat="fee in calc.fees | filter: calc.applicationFilter">
                  <td>{{fee.name}}</td>
                  <td class="text-right">{{fee.units($parent.permit.permits.row.totalDistance, $parent.permit.permits.row.distances.length, $parent.permit.permits.row.consPermits)}}</td>
                  <td class="text-right">{{fee.rate | currency: "N&nbsp;": 0}}</td>
                  <td>{{fee.rateDesc()}}</td>
                  <td class="text-right">{{fee.total($parent.permit.permits.row.totalDistance, $parent.permit.permits.row.distances.length, $parent.permit.permits.row.consPermits) | currency: "N&nbsp;": 0}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="animate-show">
                  <td class="text-right" colspan="4"><strong>Application Fee Total</strong></td>
                  <td class="text-right"><strong>{{calc.total(calc.fees, calc.applicationFilter, permit.permits.row.totalDistance, permit.permits.row.distances.length, permit.permits.row.consPermits) | currency: "N&nbsp;": 0 }}</strong></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <p ng-hide="permit.permits.row.isPreview">
            If you had not declared your infrastructure the fee would be: <strong>{{calc.total(calc.fees, calc.undeclaredFilter, permit.permits.row.totalDistance, permit.permits.row.distances.length, permit.permits.row.consPermits) | currency: "N&nbsp;": 0 }}</strong>
          </p>
          <p ng-hide="!permit.permits.row.isPreview">
            To pay for the above raise a bank draft / bank cheque <br />
            to: <strong>{{bankDraftRecipient}}</strong> <br />
            for the amount of: <strong>{{calc.total(calc.fees, calc.applicationFilter, permit.permits.row.totalDistance, permit.permits.row.distances.length, permit.permits.row.consPermits) | currency: "N&nbsp;": 0 }}</strong>
          </p>
          <p ng-hide="!permit.permits.row.isPreview">
            Present this bank draft/ bank cheque at the @Constants.UnaAbbr office together with this application. <br />
            This payment must be made and processed on or before <strong>@DateTime.Now.AddDays(7).ToString("dddd, dd MMMM, yyyy")</strong>
          </p>
        </div>
        <div class="bs-docs-section hidden-print">
          <h2 id="PermitApplicationSubmit">
            <a class="anchorjs-link" href="#PermitApplicationSubmit" aria-label="Anchor link for: permit application submit">Preview and Submit Application</a>
          </h2>
          <div class="col-xs-12 row" ng-hide="permit.permits.row.isPreview" title="You need three green lights before the Preview button will be available">
            <span class="label" ng-class="{'label-success': !!permit.permits.row.parties.find(party.findHolder).entityType, 'label-warning': !permit.permits.row.parties.find(party.findHolder).entityType}">{{permit.permits.row.parties.find(party.findHolder).typeDesc}} Declared </span>
            <span class="label" ng-class="{'label-success': permit.permits.row.totalDistance > 0, 'label-warning': permit.permits.row.totalDistance <= 0}">Route Declared </span>
            <span class="label" ng-class="{'label-success': !permit.permits.row.isPreview, 'label-warning': permit.permits.row.isPreview}">Ready to Preview </span>
          </div>
          <p ng-hide="permit.permits.row.isPreview" title="You need three green lights, and all required fields entered, before the Preview button will be available">Enter all required information above before attempting to Preview and Submit your application.</p>
          <p ng-hide="permit.permits.row.isPreview">Note that contact details will be checked as part of the approval process.</p>
          <div class="form-group btn-group col-xs-12 row" aria-label="Print Preview and Submit">
            <div class="col-xs-3" title="You need three green lights, and all required fields entered, before the Preview button will be available">
              <label class="btn btn-radio btn-info" ng-class="{'active': !permit.permits.row.isPreview}" ng-disabled="!(!!permit.permits.row.parties.find(party.findHolder).entityType) || permit.permits.row.totalDistance === 0 || permit.permits.row.isPreview || PermitApplication.$invalid">
                <input type="radio" name="isPrintPreview" ng-model="permit.permits.row.isPreview" ng-value="true" ng-change="GDFitMap()" autocomplete="off">Preview &gt;&gt;
              </label>
            </div>
            <div class="col-xs-3">
              <label class="btn btn-radio btn-warning" ng-class="{'active': permit.permits.row.isPreview}" ng-disabled="!permit.permits.row.isPreview">
                <input type="radio" name="isPrintPreview" ng-model="permit.permits.row.isPreview" ng-value="false" ng-change="GDFitMap()" autocomplete="off">&lt;&lt; Correct
              </label>
            </div>
            <div class="col-xs-3">
              <button class="btn btn-primary" id="rowPartiesSave" type="submit" ng-disabled="!permit.permits.row.isPreview">Submit &gt;&gt;</button>
            </div>
            <div class="col-xs-3">
              <div class="bg-success">{{submitResult}}</div>
            </div>
          </div>
          @*<dl class="dl-horizontal">
              <dt>Permit Submission Service is:</dt>
              <dd>{{permit.IsDbConnected ? "connected" : "not available"}}</dd>
            </dl>*@
        </div>
      </form>
    </div>
    <nav class="col-md-3 col-lg-2 hidden-xs hidden-sm hidden-print" id="rightSideNav">
      <ul class="nav nav-stacked affix-top" id="sidebar">
        <li ng-hide="permit.permits.row.isPreview">
          <a href="#PermitApplicationInstructions">Instructions</a>
        </li>
        <li>
          <a href="#PermitApplicationParties">Permit Parties</a>
          <ul class="nav nav-stacked animate-show" ng-show="!!permit.permits.row.parties.find(party.findHolder).entityType">
            <li><a href="#PermitApplicationHolder">{{permit.permits.row.parties.find(party.findHolder).typeDesc}}</a></li>
            <li class="animate-show" ng-show="permit.permits.row.parties.find(party.findHolder).entityType !== 'Person' || permit.permits.row.parties.find(party.findHolder).addresses.find(address.findPhysical).country !== 'Nigeria'"><a href="#PermitApplicationHolderContact">Holder Contact</a></li>
            <li class="animate-show" ng-show="!permit.permits.row.parties.find(party.findHolder).isInfrastructureOwner"><a href="#PermitApplicationInfOwner">{{permit.permits.row.parties.find(party.findInfOwner).typeDesc}}</a></li>
          </ul>
        </li>
        <li>
          <a href="#PermitApplicationLocation">Location</a>
          <ul class="nav nav-stacked">
            <li><a href="#PermitApplicationMap">Map</a></li>
            <li><a href="#PermitApplicationLocationCalculation">Details</a></li>
          </ul>
        </li>
        <li>
          <a href="#PermitApplicationInfState">Inf. State</a>
        </li>
        <li>
          <a href="#PermitApplicationFeeEstimation">Fees Calc.</a>
        </li>
        <li>
          <a href="#PermitApplicationSubmit">Submit</a>
        </li>
      </ul>

    </nav>
  </div>

  @*<div class="panel panel-default">
      <div class="panel-heading" role="tab" id="HeadingConstructionPermit">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#ConstructionPermit" aria-expanded="false" aria-controls="collapseRowConstructionPermitHolder">
            Construction Permit Holder
          </a>
        </h4>
      </div>
      <div id="ConstructionPermit" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HeadingConstructionPermit">
        <div class="panel-body">
          <p>Enter details about how the Construction will be performed.</p>
          <dl>
            <dt title="Traffic Management may be Required">Will the construction be in or next to any roadway / driveway / vehicle access?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Next to Vehicle Access">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpVehicleAccess" id="cpVehicleAccessYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpVehicleAccess" id="cpVehicleAccessNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Traffic Management definitely Required">Will vehicle access be obstructed during construction?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Impacting to Vehicle Access">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpVehicleAccessImpact" id="cpVehicleAccessImpactYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpVehicleAccessImpact" id="cpVehicleAccessImpactNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Pedestrian Management may be Required">Will the construction be in or next to any pathway / walkway / pedestrian access?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Next to Pedestrian Access">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpPedestrianAccess" id="cpPedestrianAccessYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpPedestrianAccess" id="cpPedestrianAccessNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Pedestrian Management definitely Required">Will pedestrian access be obstructed during construction?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Impacting to Pedestrian Access">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpPedestrianAccessImpact" id="cpPedestrianAccessImpactYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpPedestrianAccessImpact" id="cpPedestrianAccessImpactNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Engineering Report may be Required">Will the construction be in, under or next to any structure?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Next to Structure">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpStructure" id="cpStructureYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpStructure" id="cpStructureNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Engineering Report definitely Required">Will any structure next to / over the construction be potentially affected in terms of its appearance / function / structural integrity?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Potentially Impacting Structure">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpStructureImpact" id="cpStructureImpactYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpStructureImpact" id="cpStructureImpactNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
          </dl>
          <p>Enter details about the immediate area (50m) around Construction.</p>
          <dl>
            <dt title="Restricted Hours of Operation, Noise Levels, Use of Artificial Lighting, Number of Vehicles parked on street">Are there residential dwellings?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Residences">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpAreaResidential" id="cpAreaResidentialYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpAreaResidential" id="cpAreaResidentialNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Restricted Hours of Operation, Noise Levels, Number of Vehicles parked on street">Are there office buildings?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Offices">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpAreaOffice" id="cpAreaOfficeYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpAreaOffice" id="cpAreaOfficeNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Restricted Number of Vehicles parked on street">Are there industrial buildings and other structures?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Industry and Other Structures">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpAreaIndustrial" id="cpAreaIndustrialYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpAreaIndustrial" id="cpAreaIndustrialNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Restricted Number of Vehicles parked on street, potential security restrictions">Are there Federal / State services (including emergency services, hospitals)?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Federal / State Services / Emergency Services">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpAreaSpecial" id="cpAreaSpecialYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpAreaSpecial" id="cpAreaSpecialNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
          </dl>
          <p>Enter the required details for whom the Construction permit(s) will be issued to.</p>
          <dl>
            <dt>Organisation Name</dt>
            <dd><input id="cpOrgName" type="text" /></dd>
            <dt>Organisation Physical Address</dt>
            <dd><input id="cpOrgAddressPhysical" type="text" /></dd>
            <dt>Organisation Mailing Address</dt>
            <dd><input id="cpOrgAddressMailing" type="text" /></dd>
            <dt>Organisation Phone Number</dt>
            <dd><input id="cpOrgPhone" type="text" /></dd>
            <dt>Organisation Email Address</dt>
            <dd><input id="cpOrgEmail" type="email" /></dd>
            <dt>Organisation Contact Person</dt>
            <dd><input id="cpOrgContact" type="text" /></dd>
            <dt>Organisation Contact Phone</dt>
            <dd><input id="cpOrgContactPhone" type="text" /></dd>
          </dl>
          <p>Construction permits have a short life span and are limited in area. The area will also be limited on the basis of how the construction will impact the use of public assets such as roads and footpaths.</p>
          <p>We recommend you break up your route into several areas and request an appropriate number of Construction permits covering each area and spread across several time periods. Taking into account all of the factors that will affect your construction.</p>
        </div>
      </div>
    </div>*@
</div>

@section scripts
{
  <script src="@mapInitUrl" async defer></script>
}

